$red: #D2103E;
$black: #2C2C2C;
$white: #f7f7f7;

$ft-fam-head: 'Oswald', sans-serif;
$ft-fam-body: Georgia, serif;

$ft-sz-xsmall: 1.0rem;
$ft-sz-small: 1.4rem;
$ft-sz-base: 1.6rem;
$ft-sz-lg: 2.0rem;
$ft-sz-xlg: 2.4rem;
$ft-sz-xxlg: 3.6rem;

$ft-wt-light: 300;
$ft-wt-base: 400;
$ft-wt-bold: 700;


@mixin ft-style($ft-fam, $ft-wt) {
	font-family: $ft-fam;
	font-weight: $ft-wt;
}

// ===========================
//	GENERAL
// ===========================

html {
	font-size: 62.5%;
}

body {
	@include ft-style($ft-fam-body, $ft-wt-base);
	font-size: 1.6rem;
}

h1, h2, h3, h4 ,h5 ,h6, .headerNav a {
	@include ft-style($ft-fam-head, $ft-wt-base);
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 0;
	margin: 0;
}

// ===========================
//	HEADER
// ===========================

.headerNav a {
	font-size: $ft-sz-xsmall;
	text-decoration: none;
	// color: lighten($black, 60%);
	color: $white;
	transition: color 0.3s;

	&:hover {
		color: $red;
	}
}

// ===========================
//	DESCRIPTION
// ===========================

.description {
	color: $white;
	text-align: justify;

	h2 {
		font-size: $ft-sz-xxlg;
	}

	p {
		line-height: 1.7;
	}
}
