article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6, .headerNav a {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0;
  margin: 0; }

.headerNav a {
  font-size: 1rem;
  text-decoration: none;
  color: #2c2c2c;
  transition: color 0.3s; }
  .headerNav a:hover {
    color: #D2103E; }

.description {
  color: #f7f7f7;
  text-align: justify; }
  .description h2 {
    font-size: 3.6rem; }
  .description p {
    line-height: 1.7; }

.storeContainer p {
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.5; }

.storeContainer a {
  text-decoration: none;
  color: #f7f7f7; }

#contact {
  color: #f7f7f7; }
  #contact h2 {
    font-size: 7.2rem; }
  #contact p {
    font-size: 2.4rem;
    letter-spacing: 2px; }

.copyright {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem; }
  .copyright a {
    text-decoration: none;
    color: #D2103E; }

img {
  max-width: 100%;
  display: block; }

body {
  height: 100vh;
  overflow: hidden; }

header {
  width: 100%;
  min-height: 95px;
  padding: 20px;
  background: #f7f7f7;
  position: fixed;
  z-index: 999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logoContainer {
  max-width: 150px;
  -webkit-flex-shrink: 5;
      -ms-flex-negative: 5;
          flex-shrink: 5; }

.headerNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.headerNav li {
  margin-left: 20px; }

section {
  width: 100%;
  height: 100vh;
  background: #e5e5e5;
  position: relative;
  background: 50% 100% no-repeat;
  background-size: cover; }

@media (max-width: 600px) {
  body {
    height: 100%;
    overflow: initial; }
  section {
    height: 100%; }
  main {
    padding-top: 95px; } }

@media (max-width: 480px) {
  section {
    background-position: 50% 0;
    background-size: 100%; } }

#about {
  position: relative; }

.aboutNav {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999; }
  .aboutNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .aboutNav li {
    margin: 20px; }
  .aboutNav a {
    text-decoration: none;
    outline: 0;
    color: #f7f7f7; }
    .aboutNav a:hover .aboutNavIcon {
      opacity: 1;
      fill: #D2103E; }

.aboutNavIcon {
  fill: #f7f7f7;
  transition: all 0.3s;
  opacity: 0.9; }

#aboutEspresso {
  background-image: url(../assets/img_coffee.jpg); }

#aboutBakedGoods {
  background-image: url(../assets/img_bakedgoods.jpg); }

#aboutColdBrew {
  background-image: url(../assets/img_coldbrew.jpg); }

#aboutJuices {
  background-image: url(../assets/img_juices.jpg); }

.descriptionContainer {
  background: #D2103E;
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 500px; }

.description {
  position: relative;
  padding: 20px 40px; }
  .description h2 {
    position: absolute;
    bottom: 100%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }

@media (max-width: 600px) {
  .aboutNav {
    display: none; }
  .imageContainer {
    height: 500px; }
  .descriptionContainer {
    position: static;
    width: 100%; } }

@media (max-width: 480px) {
  .imageContainer {
    height: 200px; } }

#mapContainer {
  position: absolute;
  top: 95px;
  width: 100%;
  height: calc(100vh - 375px); }

.storeContainer {
  width: 100%;
  overflow-x: scroll;
  background: #D2103E;
  color: #f7f7f7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 50px; }

.store {
  padding: 40px;
  padding-right: 80px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.storeName {
  margin-bottom: 20px; }

.hours {
  margin-top: 10px; }

@media (max-width: 600px) {
  #mapContainer {
    position: static;
    top: 0;
    height: 500px; }
  .storeContainer {
    position: static; } }

@media (max-width: 480px) {
  #mapContainer {
    height: 300px; }
  .storeContainer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    overflow-x: initial;
    padding: 40px 0; }
  .store {
    width: 100%;
    padding: 20px 40px; }
  .storeName {
    margin-bottom: 10px; } }

#contact {
  background: #2C2C2C url(../assets/png_logo_wings.png) 100% 50% no-repeat;
  background-size: 50%;
  padding: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (max-width: 600px) {
  #contact {
    margin-bottom: 50px; } }

@media (max-width: 480px) {
  #contact {
    background-size: cover;
    margin-bottom: 0; } }

footer {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 20px;
  bottom: 0;
  z-index: 999;
  background: #f7f7f7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 480px) {
  footer {
    position: static; } }

/*# sourceMappingURL=style.css.map */
